.dropbtn {
    color: #005093;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    cursor: pointer;
}

.idropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #ffffff;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.idropdown:hover .dropdown-content {
    display: block;
}

.idropdown:hover .dropbtn {
    color: #038cff;
    text-decoration: none;
}