#detail-tabs {

}

#detail-tabs li a {
    color: #3e3e3e;
    padding: 8px 14px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
    border-left: none;
    border-right: none;
    position: relative;
}

#detail-tabs li a.active {
    border: none;
    color: #005093;
    font-size: 13px;
    background-color: #e4e4e4;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #005093;
}



#detail-tabs .nav-item .nav-link:hover {
    color: #005093;
    background-color: #e4e4e4;
    font-size: 13px;
    border-left: none;
    border-right: none;
}

#comparar thead tr th {
    text-align: center;
}

@media screen  and (max-width: 600px) {
    #detail-tabs li a {
        color: #fff;
        padding: 14px 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

}